build/
dist/
*.o
*.so
*.zip
third_party/fbink/
third_party/gambatte-libretro/
third_party/gw/
third_party/fceumm/
third_party/pokemini/
third_party/wswan/
third_party/race/
third_party/ngp/
*.srm
*.ngf
*.flash
*.log
koboy
koboy-probe
*.gb
*.gbc
*.sav
*.mgw
*.nes
*.min
*.ws
*.wsc
*.ngp
*.ngc
